<template>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <router-link class="navbar-brand" :to="{name: 'home'}">Videoclub</router-link>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <router-link :to="{name: 'home'}" class="nav-link">Accueil <span class="sr-only">(current)</span></router-link>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Catégories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <template v-for="category in categories">
              <router-link :to="{name: 'categoryList', params: { categoryId: category.id }}" class="dropdown-item" :key="category.id">{{category.name}}</router-link>
            </template>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" @submit.prevent="searchSubmit">
        <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Rechercher" v-model="searchText">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Rechercher</button>
      </form>
    </div>
  </nav>
</template>

<script>
  import axios from 'axios'
  export default {
    name: 'MainMenu',
    data() {
      return {
        categories: [],
        searchText: ''
      }
    },
    methods: {
      searchSubmit() {
        this.$router.push({name: 'search', query: {title: this.searchText}})
      }
    },
    created() {
      axios.get('/api/categories')
        .then(response => {
          if(response.data) {
            this.categories = response.data;
          }
        })
    }
  }
</script>

<style scoped>

</style>
