{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}{{ 'admin.member.reset.title'|trans }}{% endblock %}

{% block content_title %}{{ 'admin.member.reset.title'|trans }}{% endblock %}

{% block main %}
    <p>{{ 'admin.member.reset.description'|trans }}</p>
    <div>
        <a href="{{ path('easyadmin', {entity: 'Members', action: 'list'}) }}" class="btn btn-danger mr-3">{{'Cancel'|trans}}</a>
        <a href="{{ path('easyadmin', {entity: 'Members', action: 'resetAll'}) }}" class="btn btn-primary">{{'Confirm'|trans}}</a>
    </div>
{% endblock %}
