{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title %}Dashboard{% endblock %}

{% block content_title %}Dashboard{% endblock %}

{% block main %}
    <div class="container">
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ 'dashboard.movie.count'|trans }}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ movie_count }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">{{ 'dashboard.member.count'|trans }}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ member_count }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">{{ 'dashboard.rental.count'|trans }}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ rental_count }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
