{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title %}Import{% endblock %}

{% block content_title %}Import{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block main %}
    <p>Le système d'import vous permet de renseigner automatiquement les informations du film choisi dans la base de données.</p>
    {% if searchResults|length > 0 %}
        <p>Ci-dessous, vous trouverez les 5 films correspondant le plus au titre. Veuillez selectionner le film exact correspondant pour mettre à jour toutes ses informations.</p>
        {{ form_start(form) }}
            {% for result in searchResults %}
                <div class="row mb-3 result-card">
                    <label class="d-flex w-100 border pr-3" for="selectMovie-{{ result.id }}">
                        <img src="https://image.tmdb.org/t/p/w200{{result.poster_path}}" alt="">
                        <div class="mr-auto p-3">
                            <p>{{'title'|trans}} : <strong>{{ result.title }}</strong></p>
                            {% if result.release_date is defined %}
                                <p>{{ 'release_date'|trans }} : <strong>{{ result.release_date }}</strong></p>
                            {% endif %}
                            <p>{{'language'|trans}} : <strong>{{ result.original_language }}</strong></p>
                            <p><a href="https://www.themoviedb.org/movie/{{ result.id }}?language={{ locale }}" target="_blank">{{ 'learn_more'|trans }}</a></p>
                        </div>
                        <input type="radio" name="selectMovie" id="selectMovie-{{ result.id }}" value="{{ result.id }}" required>
                    </label>
                </div>
            {% endfor %}
            <input type="submit" value="{{'Import'|trans}}" class="btn btn-primary">
        {{ form_end(form) }}
    {% else %}
        <p>Désolé, aucun film ne correspond au titre que vous avez renseigné.</p>
        <a href="{{ path('easyadmin', {entity: 'Movies', action: 'list'}) }}">Retour à la liste</a>
    {% endif %}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin') }}
{% endblock body_javascript %}
