{% extends '@EasyAdmin/default/list.html.twig' %}

{% block global_actions %}
    {{ parent() }}
    <a href="{{ path('easyadmin', { entity: 'Members', action: 'confirmResetAll' }) }}" class="btn btn-warning">{{'admin.member.reset.btn_label'|trans}}</a>
{% endblock %}
