{% extends '@EasyAdmin/default/new.html.twig' %}


{% block entity_form %}
    {{ form_start(form) }}
    {{ form_row(form.member) }}
    {{ form_row(form.movies) }}
    {{ form_row(form.dateOut) }}
    {{ form_end(form) }}
{% endblock %}

