<template>
  <div>
    <div v-if="loading">
      <div class="d-flex align-items-center justify-content-center">
        <cude-loader></cude-loader>
      </div>
    </div>
    <div v-else>
      <div v-for="movie in movies">
        <movie-item :movie="movie"></movie-item>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" :class="{disabled : isFirstPage}">
            <a class="page-link" href="#" :tabindex="{'-1' : isFirstPage}" :aria-disabled="isFirstPage" @click.prevent="setCurrentPage(1)">Début</a>
          </li>

          <li class="page-item" :class="{disabled : isFirstPage}">
            <a class="page-link" href="#" :tabindex="{'-1' : isFirstPage}" :aria-disabled="isFirstPage" @click.prevent="decrementPage">Précedent</a>
          </li>

          <li v-for="pageNumber in pagination.pages" class="page-item" :class="{active: currentPage === pageNumber}">
            <a class="page-link" href="#" @click.prevent="setCurrentPage(pageNumber)">{{pageNumber}}</a>
          </li>

          <li class="page-item" :class="{disabled : isLastPage}">
            <a class="page-link" href="#" :tabindex="{'-1' : isLastPage}" :aria-disabled="isLastPage" @click.prevent="incrementPage">Suivant</a>
          </li>
          <li class="page-item" :class="{disabled : isLastPage}">
            <a class="page-link" href="#" :tabindex="{'-1' : isLastPage}" :aria-disabled="isLastPage" @click.prevent="setCurrentPage(pagination.totalPages)">Fin</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import MovieItem from './MovieItem';
  import CudeLoader from '../Loader/CudeLoader';
  export default {
    name: 'MovieList',
    components: {
      MovieItem,
      CudeLoader
    },
    props: {
      categoryId: {
        type: [String, Number],
        default: null
      },
      currentPageParam: {
        type: [String, Number],
        default: 1
      }
    },
    data() {
      return {
        loading: false,
        movies: [],
        pagination: {
          pages: [],
          currentPage : 1,
          totalPages: 1,
          itemsPerPage: 10,
          totalItemCount: 0
        }
      }
    },
    methods: {
      getMovieList() {
        this.loading = true;
        let apiUrl = `/api/movies/list?page=${this.currentPage}`;
        if(this.categoryId !== null) {
          apiUrl = `/api/movies/list/category/${this.categoryId}?page=${this.currentPage}`;
        }
        axios.get(apiUrl)
          .then(response => {
            this.loading = false;
            if(response.data) {
              this.movies = response.data.items;
              this.pagination.currentPage = response.data.current_page;
              this.pagination.totalPages = response.data.page_count;
              this.pagination.itemsPerPage = response.data.items_per_page;
              this.pagination.totalItemCount = response.data.total_item_count;
            }
          }).catch(response => {
            this.loading = false;
            console.log(response);
          });
      },
      setCurrentPage(index) {
        this.pagination.currentPage = index;
      },
      incrementPage() {
        if(!this.isLastPage) {
          this.pagination.currentPage++;
        }
      },
      decrementPage() {
        if(!this.isFirstPage) {
          this.pagination.currentPage--;
        }
      },
      calculatePagesDisplay() {
        // https://jasonwatmore.com/post/2018/08/07/javascript-pure-pagination-logic-in-vanilla-js-typescript
        let startPage, endPage;
        const maxPages = 5;
        if (this.pagination.totalPages <= maxPages) {
          // total pages less than max so show all pages
          startPage = 1;
          endPage = this.pagination.totalPages;
        } else {
          // total pages more than max so calculate start and end pages
          let maxPagesBeforeCurrentPage = Math.floor(maxPages / 2);
          let maxPagesAfterCurrentPage = Math.ceil(maxPages / 2) - 1;
          if (this.pagination.currentPage <= maxPagesBeforeCurrentPage) {
            // current page near the start
            startPage = 1;
            endPage = maxPages;
          } else if (this.pagination.currentPage + maxPagesAfterCurrentPage >= this.pagination.totalPages) {
            // current page near the end
            startPage = this.pagination.totalPages - maxPages + 1;
            endPage = this.pagination.totalPages;
          } else {
            // current page somewhere in the middle
            startPage = this.pagination.currentPage - maxPagesBeforeCurrentPage;
            endPage = this.pagination.currentPage + maxPagesAfterCurrentPage;
          }
        }
        this.pagination.pages = Array.from(Array((endPage + 1) - startPage).keys()).map(i => startPage + i);
      }
    },
    computed: {
      currentPage() {
        return this.pagination.currentPage;
      },
      isFirstPage() {
        return this.pagination.currentPage === 1;
      },
      isLastPage() {
        return this.pagination.currentPage >= this.pagination.totalPages - 1;
      }
    },
    watch: {
      currentPage() {
        window.scrollTo(0,0);
        this.$router.push({query: {page: this.pagination.currentPage}});
        this.getMovieList();
      },
      movies() {
        this.calculatePagesDisplay();
      }
    },
    created() {
      this.pagination.currentPage = this.currentPageParam;
      this.getMovieList();
    }
  }
</script>

<style scoped>

</style>
