<template>
  <div v-if="this.movie">
    <h1>{{this.movie.id}}</h1>
  </div>

</template>

<script>
  import axios from 'axios'
  export default {
    name: 'MovieDetails',
    data() {
      return {
        movie: null
      }
    },
    props: {
      id: String
    },
    created() {
      axios.get(`/api/movies/${this.id}`)
        .then(response => {
          if(response.data) {
            this.movie = response.data;
          }
        })
    }
  }
</script>

<style scoped>

</style>
