<template>
  <div class="mb-3 border">

      <div class="row">
        <div class="col-12 col-lg-3">
          <div class="position-relative">
            <img :src="getPosterImagePath" :alt="movie.title" :title="movie.title" class="d-block mx-auto img-fluid">
            <div class="availability-badge">
              <span v-if="isMovieAvailable" class="badge badge-pill badge-success">Disponible</span>
              <span v-else class="badge badge-pill badge-danger">Indisponible</span>
            </div>
          </div>

        </div>
        <div class="col-12 col-lg-9">
          <div class="p-3">
            <div class="mb-3">
              <h3 class="d-inline">{{movie.title}}</h3><span class="text-muted">&nbsp;(#{{movie.id}})</span>
            </div>

            <p v-if="movie.summary">{{movie.summary}}</p>
            <p v-if="movie.director">Réalisateur : {{movie.director}}</p>
            <p v-if="movie.actors">Acteurs principaux : {{displayActors}}</p>
            <div>
              <span v-if="movie.review">Note : {{movie.review}}</span>
              <span v-if="movie.duration">Durée : {{movie.duration}} min</span>
              <span v-if="movie.release_date">Date de sortie : {{formatReleaseDate}}</span>
            </div>

          </div>
        </div>
      </div>
  </div>
</template>

<script>
  import DefaultPoster from '../../../images/default_poster.png';
  export default {
    name: 'MovieItem',
    props: {
      movie: Object
    },
    computed: {
      getPosterImagePath () {
        if(this.movie.poster) {
          return `/uploads/images/posters/${this.movie.poster}`;
        } else {
          return DefaultPoster;
        }

      },
      isMovieAvailable () {
        let isAvailable = true;
        const movieBack = this.movie.rentals.find(element => {
          return element.date_back === null;
        });

        if(movieBack) {
          isAvailable = false;
        }

        return isAvailable;
      },
      formatReleaseDate() {
        return this.$dayjs(this.movie.release_date).format('LL');
      },
      displayActors() {
        return this.movie.actors.join(', ');
      }
    }
  }
</script>

<style scoped>
  .availability-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
  }
</style>
