<template>
  <div>
    <h1>Recherche</h1>
    <form @submit.prevent="searchMovie">
      <div class="form-group">
        <label for="movieTitle">Titre</label>
        <input type="text" class="form-control" id="movieTitle" placeholder="Titre" v-model="searchTerms.title">
      </div>
      <div class="form-group">
        <label for="movieId">Numéro</label>
        <input type="text" class="form-control" id="movieId" placeholder="Numéro" v-model="searchTerms.id">
      </div>
      <div class="form-group">
        <label for="movieDirector">Réalisateur</label>
        <input type="text" class="form-control" id="movieDirector" placeholder="Réalisateur" v-model="searchTerms.director">
      </div>

      <div class="form-group">
        <label for="movieActor">Acteur</label>
        <input type="text" class="form-control" id="movieActor" placeholder="Acteur" v-model="searchTerms.actor">
      </div>

      <div class="form-group">
        <label for="movieReleaseYear">Année de sortie</label>
        <input type="text" class="form-control" id="movieReleaseYear" placeholder="Année de sortie" v-model="searchTerms.releaseDate">
      </div>

      <div class="form-group">
        <label for="movieAvailable">Disponibilité</label>
        <select class="form-control" id="movieAvailable" v-model="searchTerms.available">
          <option value="">Tous</option>
          <option value="1">Disponible</option>
          <option value="0">Indisponible</option>
        </select>
      </div>

      <div>
        <button type="submit" class="btn btn-primary">Rechercher</button>
      </div>
    </form>
    <hr>
    <div>
      <h3>Résultats de la recherche</h3>
      <div v-if="!movies.length" >
        <p>Pas de films trouvé</p>
      </div>
      <div v-for="movie in movies">
        <movie-item :movie="movie"></movie-item>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import MovieItem from '../Movie/MovieItem';
  import CudeLoader from '../Loader/CudeLoader';
  export default {
    name: 'SearchPage',
    components: {
      MovieItem,
      CudeLoader
    },
    data() {
      return {
        movies: [],
        searchTerms: {
          title: '',
          id: '',
          director: '',
          actor: '',
          releaseDate: '',
          available: ''
        }
      }
    },
    methods: {
      searchMovie() {
        //this.$router.push({query: this.searchTerms});
        const queryString = Object.keys(this.searchTerms).map(key => encodeURI(key + '=' + this.searchTerms[key])).join('&');
        let apiUrl = `/api/movies/search?${queryString}`;
        axios.get(apiUrl)
          .then(response => {
            if(response.data) {
              this.movies = response.data.items;
            }
          })
      }
    },
    mounted() {
      if(this.$route.query.title) {
        this.searchTerms.title = this.$route.query.title;
        this.searchMovie();
      }
    }
  }
</script>

<style scoped>

</style>
