<template>
  <div>
    <main-menu></main-menu>
    <div class="container mt-3">
      <router-view :key="$route.fullPath"></router-view>
    </div>
  </div>

</template>

<script>
  import MainMenu from "./components/Navigation/MainMenu"
  export default {
    name: "App",
    components: {
      MainMenu
    }

  }
</script>

<style scoped lang="scss">

</style>
